<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6012.853014086348!2d29.014975337630847!3d41.10337543149471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5dcc90bb085%3A0x3bdcdabdc3beaa5c!2zxLBUw5wgQVJJIDggVEVLTk9LRU5U!5e0!3m2!1str!2str!4v1728482609509!5m2!1str!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
